:root {
    --text-color: #dfdfdf;
    --text-ans-color: #a1a1a1;
    --sign-color: #2173fd;
    --button-background-color: #252525;
    --background-color: #121212;
    --equal--btn-background-color: #2a73fe;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--sign-color);
}

.calculator {
    background-color: var(--background-color);
    margin-top: 2vh;
    padding: 174px 16px 23px 16px;
    border-radius: 45px;
}

#display {
    display: flex;
    height: 25px;
    width: 282px;
    color: var(--text-color);
    flex-direction: row-reverse;
    overflow: hidden;
}

.buttons{
    background-color: var(--button-background-color);
    padding: 4px 11px;
    border-radius: 19px;
}

button {
    width: 52px;
    height: 52px;
    background-color: #ffffff00;
    color: #e7e7e7;
    margin: 4px 5px;
    border: 1px solid #206478;
    border-radius: 87px;
    font-size: 25px;
    box-shadow: -2px 1px 5px 1px #206478;
}

button:hover{
    background-color: #e3e3e33c;
}

.signs{
    color: var(--sign-color);
}

.spc {
    height: 111px;
    position: absolute;
    margin: 6px 0px 0px 9px;
    background-color: var(--equal--btn-background-color);
}

.img {
    width: 31px;
}