@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --text-color: #dfdfdf;
    --text-ans-color: #a1a1a1;
    --sign-color: #2173fd;
    --button-background-color: #252525;
    --background-color: #121212;
    --equal--btn-background-color: #2a73fe;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#00bbff, #3b00ff);
    font-family: 'Itim', cursive;
    min-height: 100vh;
    min-width: 97vw;
    flex-direction: column;
    align-items: center;
}

.calculator {
    background-color: var(--background-color);
    padding: 117px 9px 11px 9px;
    margin-top: 5px;
    border-radius: 29px;
    height: fit-content;
}

#display {
    display: flex;
    height: 52px;
    width: 279px;
    color: var(--text-color);
    flex-direction: row-reverse;
    overflow-y: hidden;
    overflow-x: scroll;
    font-size: 44px;
}


#display::-webkit-scrollbar {
    display: none;
}


.buttons {
    background-color: var(--button-background-color);
    padding: 4px 11px;
    border-radius: 19px;
}

button {
    width: 52px;
    height: 52px;
    background-color: #ffffff00;
    color: #e7e7e7;
    margin: 5px 5px;
    border: 1px solid #206478;
    border-radius: 87px;
    font-size: 25px;
    box-shadow: 0px 0px 6px 2px #1093ba54;
    font-family: 'Itim', cursive;
}

button:hover {
    background-color: #e3e3e33c;
}

.signs {
    color: var(--sign-color);
}

.spc {
    height: 111px;
    position: absolute;
    margin: 6px 0px 0px 9px;
    background-color: var(--equal--btn-background-color);
}

.img {
    width: 31px;
}

footer {
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
}

footer span {
    margin: 6px 27px;
}

footer div a {
    margin: 0px 3px;
}

footer div a img {
    width: 25px;
    border-radius: 50%;
    transition: all 0.6s;
}

footer div a img:hover {
    background: rgb(0 0 0 / 25%);
    transform: translateY(-7px);
}